body {
    top: 0;
    margin: 0;
    background-color: #e7e7e7;
}

.bg-none {
    background: none;
}

.container {
    max-width: 768px;
}

.text-white {
    color: white;
}

.text-blue {
    color: #122319;
}

.text-gray {
    color: gray;
}

.left {
    border-right-style: dotted;
    border-right-color: #d2d2d2;
    width: 510px;
}

.right {
    width: 165px;
}

.search {
    border-spacing: 3px;
    border-color: gray;
    width: 140px;
}

.pre-header {
    text-align: center;
}

.img-preheader {
    margin-bottom: -5px;
}

.wrap-content {
    background-image: url('../image/bg.jpg');
    background-repeat-x: no-repeat;
    background-position: center;
}

.image-article {
    max-width: 500px;
}

.banner {
    background-image: url('../image/header.jpg');
    height: 80px;
    background-repeat-x: no-repeat;
    background-position: center;
}

.navigation {
    background-image: url('../image/menu.jpg');
    background-position: bottom;
    background-position: center;
    background-repeat-x: no-repeat;
}

.footer {
    background-image: url('../image/footer.jpg');
    background-position: center;
    background-repeat-x: no-repeat;
    height: 78px;
}

.page-search {
    padding: 0 10px;
    border-right: solid 1px;
}

.not-found {
    width: 834px;
}

.clock:before {
   content:url('../image/timeicon.gif');
}
